# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Workspaces\WorkspacesUniandes\MISW-4204-ComputacionEnNube\uniandes-public-flask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
